#zegar {
    font-family: 'Nosifer', cursive;
    border: 1px solid black;
    border-radius: 120px 90px 60px 30px/30px 60px 90px 120px;
    font-size: 45px;
    background-color: turquoise;
    position: absolute;
    height: 150px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
}